.pytest_cache
**__pycache__/
db.sqlite3
.coverage
htmlcov/
*-commands.md
schema.yml
ImportantNote.txt
testEnv/
migrations/
VirtualEnv/
client_secret_125519414625-hah2lrm83oic6l6v986r4cn5p7hpuiim.apps.googleusercontent.com.json